
    <div class="card h-100 text-center">
    <img [src]="product.image" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.description | slice: 0:30}}</p>
        <p class="card-text" > price {{product.price | currency }}</p>
    </div>
    <div>
        <button class="btn btn-primary boton-formulario" (click)="addCarr()">Agregar Carrito</button>
        <a class="btn btn-primary boton-formulario "   [routerLink]="['/product' , product.id]">Ver descripcion</a>
    </div>
        
    

</div>

