<form [formGroup]="productForm" novalidate (ngSubmit)="onSubmit()" class="ancho">
  <mat-card class="shipping-card">
    
    <mat-card-header>
      <mat-card-title>Crear Producto</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      
      <div class="row ancho2">


        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="ID Producto" formControlName="id">
            <mat-error *ngIf="productForm.controls['id'].hasError('required')">
              ID producto es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>


        <div class="col ">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre de Producto" formControlName="title">
            <mat-error *ngIf="productForm.controls['title'].hasError('required')">
              Nombre de Producto es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>


      </div>

      <div class="row ancho2">

        <div class="col">
          <mat-form-field >
            <input matInput placeholder="Precio" formControlName="price">
            <mat-error *ngIf="productForm.controls['price'].hasError('required')">
              Precio es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>

      </div>

      <div class="row ancho2">
    
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Descripcion de Producto" formControlName="description"></textarea>
            <mat-error *ngIf="productForm.controls['description'].hasError('required')">
              Decripcion de Producto es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>

      </div>


      
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
